<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site.Title }}</title>
    {{- $css := resources.Get "style.css" | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
</head>
<body>
<h1>{{ .Title | site.Home.RenderString }}</h1>
<div class="hero-icons">
    <div>
    {{- partial "material-symbol.html" (dict "id" "preview" "ctx" . "size" "big") -}}
    {{- partial "material-symbol.html" (dict "id" "engineering" "ctx" . "size" "big") -}}
        {{- partial "material-symbol.html" (dict "id" "volcano" "ctx" . "size" "big") -}}
        {{- partial "material-symbol.html" (dict "id" "wallpaper_slideshow" "ctx" . "size" "big") -}}
    </div>
    <div>
        {{- partial "material-symbol.html" (dict "id" "preview" "ctx" . ) -}}
        {{- partial "material-symbol.html" (dict "id" "engineering" "ctx" . ) -}}
        {{- partial "material-symbol.html" (dict "id" "volcano" "ctx" . ) -}}
        {{- partial "material-symbol.html" (dict "id" "wallpaper_slideshow" "ctx" . ) -}}
    </div>
    <div>
        {{- partial "material-symbol.html" (dict "id" "preview" "ctx" . "size" "small") -}}
        {{- partial "material-symbol.html" (dict "id" "engineering" "ctx" . "size" "small") -}}
        {{- partial "material-symbol.html" (dict "id" "volcano" "ctx" . "size" "small") -}}
        {{- partial "material-symbol.html" (dict "id" "wallpaper_slideshow" "ctx" . "size" "small") -}}
    </div>
</div>
<br><br>
{{ .Content }}
</body>
</html>
