html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
    font-size: 19px;
    line-height: 1.5;
}

body {
    max-width: 32rem;
    margin: 0 auto;
    padding: 2rem 1rem;
    background: #fafcfe;
    color: #333;
}

code {
    font-size: 80%;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    color: #222;
}

.highlight {
    padding: 0 0.5em;
    box-shadow: 0 0 0 1px #3338;
}

.icon {
    display: inline-block;
    color: #555;
}

.icon--material {
    position: relative;
    fill: currentColor;
    width: 30px;
    height: 30px;
    vertical-align: bottom;
}

.icon--tiny {
    width: 20px;
    height: 20px;
}

.icon--small {
    width: 24px;
    height: 24px;
}

.icon--big {
    width: 40px;
    height: 40px;
}

.icon--xl {
    width: 48px;
    height: 48px;
}

.icon--material:hover svg {
        background-color: #ddd;
}

.hero-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
